ProgEng/ProgEng3/__pycache__/relationships.cpython-312.pyc
ProgEng/ProgEng3/__pycache__/connection.cpython-312.pyc
ProgEng/ProgEng3/__pycache__/database.cpython-312.pyc
ProgEng/ProgEng3/__pycache__/models.cpython-312.pyc
ProgEng/ProgEng3/__pycache__/queries.cpython-312.pyc
.idea/material_theme_project_new.xml
